<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Admin</title>
    <script src="../public/js/allgemein.js" defer></script>
    <script src="../public/js/accountAdmin.js" defer></script>
    <link href="../public/css/SSMain.css" rel="stylesheet">
    <link href="../public/css/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="../public/css/SSBackgroundsAndContainers.css" rel="stylesheet">
    <link href="../public/css/SSButtons.css" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <img src="../public/img/Cake.png" alt="" id="logo" onclick="sendToStart()">
        <a href="start.html">Startseite</a>
        <a href="shop.html" id="shop">Shop</a>
        <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
        <a href="accountAdmin.html" class="navbarSelected" id="user">Account</a>
      </nav>
    </header>




    <div class="containerVertical accountButtonsDiv">

        <button><a href="passwortAendern.html">Password ändern</a></button>
        <button><a href="ausstehendeBestellungen.html">ausstehende Bestellungen</a></button>
        <button><a href="kundendaten.html">Kundendaten</a></button>
        <button><a onclick="logout()">Abmelden</a></button>
    </div>


    <footer>
      
      <div class="footerDiv">
        <a href="ueberUns.html">Über uns / AGB</a>
        <a href="impressum.html">Impressum</a>
        <a href="kontakt.html">Kontaktformular</a>
      </div>

      <div>
        &copy;
        Copyright 2021
        Kuchen AG
      </div>


    </footer>


</body>
</html>
