<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bestellhistorie</title>
    <script src="../public/js/allgemein.js" defer></script>
    <link href="../public/css/SSMain.css" rel="stylesheet" />
    <link href="../public/css/SSNavBarAndFooter.css" rel="stylesheet" />
    <link
      href="../public/css/SSBackgroundsAndContainers.css"
      rel="stylesheet"
    />
    <link href="../public/css/SSButtons.css" rel="stylesheet" />
    <link href="../public/css/SSFieldset.css" rel="stylesheet" />
    <link href="../public/css/SSTables.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img
          src="../public/img/Cake.png"
          alt=""
          id="logo"
          onclick="sendToStart()"
        />
        <a href="start.html">Startseite</a>
        <a href="shop.html" id="shop">Shop</a>
        <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
        <a href="account.html" class="navbarSelected" id="user">Account</a>
      </nav>
    </header>

    <div class="containerVertical">
      <div>
        <h2>Bestellhistorie</h2>
        <table class="tableList tableListHistory">
          <tr>
            <th>Bestellnummer</th>
            <th>Beschreibung</th>
            <th>Rechnungsbetrag</th>
            <th>Bestelldatum</th>
            <th>Lieferdatum</th>
          </tr>
          <tr>
            <td><p>1</p></td>
            <td>
              <p>
                2x Erdbeerkuchen <br />
                In diesen Erdbeercremekuchen wirst Du Dich auf den ersten Blick
                verlieben. Da das kräftige, fruchtige Rot ein jedes Augenmerk in
                seinen Bann zieht, versucht das Gehirn hier bereits erste
                Vorgeschmacksproben an den Mundraum zu senden – doch vergebens.
                Das Rezept hierfür wurde über Jahre hinweg übergeben und
                verfeinert, sodass der Geschmack sich in Dein Gedächtnis
                einbrennen und einen besonderen Platz belegen wird, der immerzu
                an die warmen Frühlings- und Sommertage erinnert. <br /><br />
                2x Erdbeerkuchen <br />
                In diesen Erdbeercremekuchen wirst Du Dich auf den ersten Blick
                verlieben. Da das kräftige, fruchtige Rot ein jedes Augenmerk in
                seinen Bann zieht, versucht das Gehirn hier bereits erste
                Vorgeschmacksproben an den Mundraum zu senden – doch vergebens.
                Das Rezept hierfür wurde über Jahre hinweg übergeben und
                verfeinert, sodass der Geschmack sich in Dein Gedächtnis
                einbrennen und einen besonderen Platz belegen wird, der immerzu
                an die warmen Frühlings- und Sommertage erinnert.
              </p>
            </td>
            <td><p>30€</p></td>
            <td><p>01.01.2021</p></td>
            <td><p>02.01.2021</p></td>
          </tr>
          <tr>
            <td><p>2</p></td>
            <td>
              <p>
                2x Erdbeerkuchen <br />
                In diesen Erdbeercremekuchen wirst Du Dich auf den ersten Blick
                verlieben. Da das kräftige, fruchtige Rot ein jedes Augenmerk in
                seinen Bann zieht, versucht das Gehirn hier bereits erste
                Vorgeschmacksproben an den Mundraum zu senden – doch vergebens.
                Das Rezept hierfür wurde über Jahre hinweg übergeben und
                verfeinert, sodass der Geschmack sich in Dein Gedächtnis
                einbrennen und einen besonderen Platz belegen wird, der immerzu
                an die warmen Frühlings- und Sommertage erinnert. <br /><br />
                2x Erdbeerkuchen <br />
                In diesen Erdbeercremekuchen wirst Du Dich auf den ersten Blick
                verlieben. Da das kräftige, fruchtige Rot ein jedes Augenmerk in
                seinen Bann zieht, versucht das Gehirn hier bereits erste
                Vorgeschmacksproben an den Mundraum zu senden – doch vergebens.
                Das Rezept hierfür wurde über Jahre hinweg übergeben und
                verfeinert, sodass der Geschmack sich in Dein Gedächtnis
                einbrennen und einen besonderen Platz belegen wird, der immerzu
                an die warmen Frühlings- und Sommertage erinnert.
              </p>
            </td>
            <td><p>01.01.2021</p></td>
            <td><p>02.01.2021</p></td>
          </tr>
        </table>
      </div>
    </div>

    <footer>
      <div class="footerDiv">
        <a href="ueberUns.html">Über uns</a>
        <a href="impressum.html">Impressum</a>
        <a href="kontakt.html">Kontaktformular</a>
      </div>

      <div>&copy; Copyright 2021 Kuchen AG</div>
    </footer>
  </body>
</html>
