<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung</title>
</head>
<body>
    <header>
        <img src="" alt="" id="logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Startseite</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Warenkorb</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </nav>
<article>
   
    <h1>Ihre Daten</h1>

    <form action="" method="post">
        <table border="solid">
            <tr><td><label for="">Anrede</label></td></tr>
            <tr><td><input type="radio" name="" id=""></td></tr>
            <tr><td><input type="radio" name="" id=""></td></tr>
            <tr></tr>
            <tr><td><label for="">Vorname</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><label for="">Nachname</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><label for="">Geburtstag</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><label for="">PLZ</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><label for="">Stadt</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><label for="">Straße</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><label for="">Hausnummer</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><button onclick="">Daten ändern</button></td></tr>
        </table>

    </form>

</article>

<footer>
    <div>
        <ul>
            <li><a href="">Über uns / AGB</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Kontaktformular</a></li>
        </ul>
    </div>
    
    <div>
        &copy;
		Copyright 2021
		Kuchen AG
    </div>

</footer>


</body>
</html>