<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <script src="../public/js/allgemein.js" defer></script>
    <link href="../public/css/SSMain.css" rel="stylesheet">
    <link href="../public/css/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="../public/css/SSBackgroundsAndContainers.css" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <img src="../public/img/Cake.png" alt="" id="logo" onclick="sendToStart()">
        <a href="start.html">Startseite</a>
        <a href="shop.html" id="shop">Shop</a>
        <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
        <a href="login.html" id="user">Account</a>
      </nav>
    </header>




    <div class="containerHorizontal">
      <div>
      <h2>Impressum</h2>
        <p>Moderner Kuchenverkauf (Demoversion)</p>
        <p>Anschrift: 
          <br/>Musterstraße 20, 785xx Musterstadt</p>
        <p>Mail: 
          <br/>kuchen@verkauf.de</p>
        <p>Homepage: 
          <br/>www.musterhomepage.de</p>
        <p>Geschäftsführer: 
          <br/>Christian Seifriz, Niklas Meier, Vlado Swiderski, Julian Rehwald</p>
        <p>Bankverbindung: 
          <br/>IBAN: DExx xxxx xxxx xxxx xxxx xx
          <br/>BIC: xxxxxxxxxxx</p>
        <p>Handelsregister:
        <br/>Nr.: HRB xxxxxx</p>
        <p>USt-IDNR: 
          <br/>DE999999999</p>
        
      </div>
    </div>



    <footer>
      

      <div class="footerDiv">
        <a href="ueberUns.html">Über uns / AGB</a>
        <a href="impressum.html" class="navbarSelected">Impressum</a>
        <a href="kontakt.html">Kontaktformular</a>
      </div>

      <div>
        &copy;
        Copyright 2021
        Kuchen AG
      </div>

    </footer>


</body>
</html>
