<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <script src="../public/js/allgemein.js" defer></script>
    <link href="CSS/SSMain.css" rel="stylesheet">
    <link href="CSS/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="CSS/SSBackgroundsAndContainers.css" rel="stylesheet">
    <link href="CSS/SSTables.css" rel="stylesheet">
    <link href="CSS/SSFieldset.css" rel="stylesheet">
    <link href="CSS/SSButtons.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar">
      <img src="../public/Cake.png" alt="" id="logo">
      <a href="start.html">Startseite</a>
      <a href="shop.html">Shop</a>
      <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
      <a href="login.html" id="user">Account</a>
    </nav>
  </header>



<div class="containerSmallCenter smallCenterColumns">
  <div>
    <form action="" class="inputField1 inputField1Contact">
        <table class="tableLogin tableLoginContact ">
            <tr>
                <td><label for="">Anrede</label></td>
            <tr>
               <td>
                   <input type="radio" name="" id="">
                   <label for="">Herr</label>
                   <input type="radio" name="" id="">
                   <label for="">Frau</label>
                </td>
            </tr>
            <tr>
                <td><label for="textVorname">Vorname</label></td>
            </tr>
            <tr>
                <td><input type="text" id="textVorname"></td>
            </tr>
            <tr>
                <td><label for="textNachname">Nachname</label></td>
            </tr>
            <tr>
                <td><input type="text" id="textNachname"></td>
            </tr>
            <tr>
                <td><label for="textMail">Email</label></td>
            </tr>
            <tr>
                <td><input type="email" name="" id="textMail"></td>
            </tr>
            <tr>
              <td>
                <label for=""><h3>Ihre Nachricht</h3></label>
                <textarea name="" id="">abc</textarea>
              </td>
            </tr>

        </table>
    </form>



  <button type="submit" class="button2 button2login">Senden</button>
</div>

</div>



<footer>
  <div>
    &copy;
    Copyright 2021
    Kuchen AG
  </div>

  <div class="footerDiv">
    <a href="ueberUns.html">Über uns / AGB</a>
    <a href="impressum.html">Impressum</a>
    <a href="kontakt.html" class="navbarSelected">Kontaktformular</a>
  </div>



</footer>


</body>
</html>
