<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
</head>
<body>
    <header>
        <img src="" alt="" id="logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Startseite</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Warenkorb</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </nav>
<article>
    <h1>Kontaktformular</h1>
<div>

    <form action="">
        <table>
            <tr>
                <td><label for="">Ihre Nachricht</label></td>
                <td><label for="">Anrede</label></td>            
            </tr>
            <tr>
               <td rowspan="8"><textarea name="" id=""></textarea></td>
               <td>
                   <input type="radio" name="" id="">
                   <label for="">Herr</label>
                   <input type="radio" name="" id="">
                   <label for="">Frau</label>
                </td>
            </tr>
            <tr>
                <td><label for="textVorname">Vorname</label></td>
            </tr>
            <tr>
                <td><input type="text" id="textVorname"></td>
            </tr>
            <tr>
                <td><label for="textNachname">Nachname</label></td>
            </tr>
            <tr>
                <td><input type="text" id="textNachname"></td>
            </tr>
            <tr>
                <td><label for="textMail">Email</label></td>
            </tr>
            <tr>
                <td><input type="email" name="" id="textMail"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Senden</button>
                </td>
            </tr>
        </table>

    </form>
</div>
    

</article>

<footer>
    <div>
        <ul>
            <li><a href="">Über uns / AGB</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Kontaktformular</a></li>
        </ul>
    </div>
    
    <div>
        &copy;
		Copyright 2021
		Kuchen AG
    </div>

</footer>


</body>
</html>