<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kundendaten</title>
    <script src="../public/js/allgemein.js" defer></script>
    <script src="../public/js/Kundendaten.js" defer></script>
    <link href="../public/css/SSMain.css" rel="stylesheet">
    <link href="../public/css/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="../public/css/SSBackgroundsAndContainers.css" rel="stylesheet">
    <link href="../public/css/SSButtons.css" rel="stylesheet">
    <link href="../public/css/SSFieldset.css" rel="stylesheet">
    <link href="../public/css/SSTables.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="../public/Cake.png" alt="" id="logo" onclick="sendToStart()">
      <a href="start.html">Startseite</a>
      <a href="shop.html" class="navbarSelected" id="shop">Shop</a>
      <a href="warenkorb.html"  id="warenkorb">Warenkorb</a>
      <a href="account.html"  id="user">Account</a>
    </nav>
  </header>



    <div class="containerVertical">
      <div>
        <h2>Kundendaten</h2>
        <table class="tableList tableListHistory tableHistoryUserdata">
          <tr>
            <th>Kundennummer</th>
            <th>Beschreibung</th>
            <th>Umsatz</th>
            <th>Ändern</th>
            <th>Löschen</th>
          </tr>
          <tr id="elem1">
            <td><p>1</p></td>
            <td>
              <p>Mail: Test@test.de </p> 
              <p>Username: Karl1</p>
              <p>Name: Herr Karl Walter</p>
              <p>Geburtstag: 04.02.2000</p>
              <p>Adresse: Gartenstraße 6 7628 Rottweil</p>
            </td>
            <td><p>250€</p></td>
            <td><button onclick="sendOn()"><img src="../public/img/pencil.png" alt=""></button></td>
            <td><button onclick="erledigt('elem1')"><img src="../public/img/bin.png" alt=""></button></td>
          </tr>
        </table>

    </div>
</div>



    <footer>
      
      <div class="footerDiv">
        <a href="ueberUns.html">Über uns / AGB</a>
        <a href="impressum.html">Impressum</a>
        <a href="kontakt.html">Kontaktformular</a>
      </div>

      <div>
        &copy;
        Copyright 2021
        Kuchen AG
      </div>
    </footer>


</body>
</html>
