<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung</title>
</head>
<body>
    <header>
        <img src="" alt="" id="logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Startseite</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Warenkorb</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </nav>
<article>
   
    <h1>Anmeldung</h1>

    <form action="" method="post">
        <table>
            <tr><td><label for="">Email</label></td></tr>
            <tr><td><input type="text"></td></tr>
            <tr></tr>
            <tr><td><label for="">Kennwort</label></td></tr>
            <tr><td><input type="password" name="" id=""></td></tr>
            <tr><td><a href="">Kennwort vergessen?</a></td></tr>
        </table>

        <table>
            <tr><td>Noch kein Konto?</td></tr>
            <tr><td><button><a href="">jetzt Registrieren</a></button></td></tr>
        </table>

    </form>

</article>

<footer>
    <div>
        <ul>
            <li><a href="">Über uns / AGB</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Kontaktformular</a></li>
        </ul>
    </div>
    
    <div>
        &copy;
		Copyright 2021
		Kuchen AG
    </div>

</footer>


</body>
</html>