<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung</title>
</head>
<body>
    <header>
        <img src="" alt="" id="logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Startseite</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Warenkorb</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </nav>
<article>
   
    <h1>Passwort Ändern</h1>

    <form>
        <table>
            <tr><td><label for="passwordOld">Ihr aktuelles Passwort</label></td></tr>
            <tr><td><input type="password" name="" id="passwordOld"></td></tr>
            <tr><td><label for="passwordNew"></label></td></tr>
            <tr><td><input type="password" name="" id="passwordNew"></td></tr>
            <tr><td><label for="passwordNew2"></label></td></tr>
            <tr><td><input type="password" name="" id="passwordNew2"></td></tr>
            <tr></tr>
            <tr><td><button type="submit">Password ändern</button></td></tr>
        </table>

    </form>

</article>

<footer>
    <div>
        <ul>
            <li><a href="">Über uns / AGB</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Kontaktformular</a></li>
        </ul>
    </div>
    
    <div>
        &copy;
		Copyright 2021
		Kuchen AG
    </div>

</footer>


</body>
</html>