<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrierung</title>
  <script src="../public/js/allgemein.js" defer></script>
  <script src="../public/js/registrieren.js" defer></script>
  <link href="../public/css/SSMain.css" rel="stylesheet">
  <link href="../public/css/SSNavBarAndFooter.css" rel="stylesheet">
  <link href="../public/css/SSBackgroundsAndContainers.css" rel="stylesheet">
  <link href="../public/css/SSTables.css" rel="stylesheet">
  <link href="../public/css/SSFieldset.css" rel="stylesheet">
  <link href="../public/css/SSButtons.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="../public/img/Cake.png" alt="" id="logo" onclick="sendToStart()">
      <a href="start.html">Startseite</a>
      <a href="shop.html" id="shop">Shop</a>
      <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
      <a href="login.html" id="user" class="navbarSelected">Account</a>
    </nav>
  </header>



  <div class="containerSmallCenter">
    <div>
      <h2>Registrierung</h2>
      <form action="login.html" method="post" class="inputField1 inputField1ED" id="form" name="formular">
        <table class="tableLogin tableLoginED">

          <!--Z1-->
          <tr><td><label for="email">E-Mail</label></td></tr>
          <tr><td><input type="email" required id="email" readonly></td></tr>
          <tr><td><button onclick="changeElem('email')">ändern</button></td></tr>


          <!--Z2-->
          <tr><td><label for="username">Username</label></td></tr>
          <tr><td><input type="text" required id="username" readonly></td></tr>
          <tr><td><button onclick="changeElem('username')">ändern</button></td></tr>

          
          
          <!--Z3-->
          <tr><td><label for="pass1">Neues Passwort</label></td></tr>
          <tr><td><input type="password" required id="pass1" readonly></td></tr>
          <tr><td><button onclick="changeElem('pass1')">ändern</button></td></tr>


          <!--Z4-->
          <tr><td><label for="pas2">Neues Passwort wiederholen</label></td> </tr>
          <tr><td><input type="password" required id="pass2" readonly></td></tr>
          <tr><td><button onclick="changeElem('pass1')">ändern</button></td></tr>


          <!--Z5-->
          <tr><td><label for="">Anrede</label></td></tr>
          <tr>
            <td id="tableLoginEDalign">
              <table>
                <tr>
                  <td>
                    <label for="Herr">Herr</label>
                  </td>
                  <td>
                    <input type="radio" name="Herr" id="Herr" onclick="changeElem('Herr')">
                  </td>
                  <td>
                    <label for="Frau">Frau</label>
                  </td>
                  <td>
                    <input type="radio" name="Frau" id="Frau" onclick="changeElem('Frau')">
                  </td>
                </tr>
              </table>

            </td>
            <tr><td><button onclick="changeElem('Herr')">ändern</button></td></tr>


          <!--Z6-->
          <tr><td><label for="">PLZ</label></td></tr>
          <tr><td><input type="text" id="plz" required readonly></td></tr>
          <tr><td><button onclick="changeElem('plz')">ändern</button></td></tr>


          
          <!--Z7-->
          <tr><td><label for="vorname">Vorname</label></td></tr>
          <tr><td><input type="text" id="vorname" required readonly></td></tr>
          <td><button onclick="changeElem('vorname')">ändern</button></td>


          <!--Z8-->
          <tr><td><label for="nachname">Nachname</label></td></tr>
          <tr><td><input type="text" id="nachname" readonly required></td></tr>
          <td><button onclick="changeElem('nachname')">ändern</button></td>


          <!--Z9-->
          <tr><td><label for="stadt">Stadt</label></td></tr>
          <tr><td><input type="text" id="stadt" required readonly></td></tr>
          <tr><td><button onclick="changeElem('stadt')">ändern</button></td></tr>

          
          <!--Z10-->
          <tr></tr>
          <tr></tr>
          <td><button onclick="changeElem('nachname')">ändern</button></td>

          </tr>
          
          
          <!--Z11-->
          <tr><td><label for="">Geburtstag</label></td></tr>
          <tr><td><input type="date" id="geb" readonly required></td></tr>
          <tr><td><button onclick="changeElem('geb')">ändern</button></td></tr>
          
          <!--Z12-->
          <tr><td><label for="">Hausnummer</label></td></tr>
          <tr><td><input type="text" id="hausnr" readonly required></td></tr>
          <tr><td><button onclick="changeElem('hausnr')">ändern</button></td></tr>


          
            <tr><td colspan="2"><button type="submit" class="tableLogin tableLoginED ButtonConfirm">
              Registrieren</button></td>
            </tr>
        </table>
      </form>
    </div>
  </div>

  <footer>
    

    <div class="footerDiv">
      <a href="ueberUns.html">Über uns / AGB</a>
      <a href="impressum.html">Impressum</a>
      <a href="kontakt.html">Kontaktformular</a>
    </div>

    <div>
      &copy;
      Copyright 2021
      Kuchen AG
    </div>

  </footer>


</body>
</html>
