<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <header>
        <img src="" alt="" id="logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Startseite</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Warenkorb</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </nav>
<article>
    
    <h1>Reguläres Sortiment</h1>
    <div>
        
        <table>
            <tr>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
            </tr>
            <tr>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
            </tr>
            <tr>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
            </tr>

        </table>
    </div>

    <div>
        <table>
            <tr>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
            </tr>
            <tr>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
            </tr>
            <tr>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
                <td><img src="" alt=""></td>
            </tr>

        </table>
    </div>

</article>

<footer>
    <div>
        <ul>
            <li><a href="">Über uns / AGB</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Kontaktformular</a></li>
        </ul>
    </div>
    
    <div>
        &copy;
		Copyright 2021
		Kuchen AG
    </div>

</footer>


</body>
</html>