<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reguläres Sortiment</title>
  <script src="../public/js/allgemein.js" defer></script>
  <script src="../public/js/sortimentR.js" defer></script>
  <link href="../public/css/SSMain.css" rel="stylesheet">
  <link href="../public/css/SSNavBarAndFooter.css" rel="stylesheet">
  <link href="../public/css/SSBackgroundsAndContainers.css" rel="stylesheet">
  <link href="../public/css/SSTables.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="../public/img/Cake.png" alt="" id="logo" onclick="sendToStart()">
      <a href="start.html">Startseite</a>
      <a href="shop.html" class="navbarSelected" id="shop">Shop</a>
      <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
      <a href="login.html" id="user">Account</a>
    </nav>
  </header>


  <div class="containerVertical">
    <div>
      <h2>Reguläres Sortiment</h2>
      <table class="tableList">
        
        <tr>
          <th></th>
          <th>Beschreibung</th>
          <th>Preis</th>
          <th></th>
        </tr>


        <tr>
          <td><img src="../public/img/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td>
            <h4>Erdbeerkuchen</h4>
            <p>Oma's Lieblingsgebäck, was immerzu 
              an die warmen Frühling- und Sommertage 
              erinnert und gerne auch einleitet. 
            </p>
          </td>
          <td><p>15€</p></td>
          <td><input type="image" value="bild" src="../public/img/shoppingCart.png" alt="" onclick="store(this)"></td>
        </tr>
        <tr>
          <td><img src="../public/img/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td>
            <h4>Himbeerkuchen</h4>
            <p>Diesen Kuchen zu essen, macht einfach 
              Spaß. Er glänzt nicht nur mit seinem Geschmack, 
              sondern auch aufgrund des Gelee, das die frisch 
              gepflückten Himbeeren schützend umhüllt.
            </p>
          </td>
          <td><p>14€</p></td>
          <td><input type="image" value="bild" src="../public/img/shoppingCart.png" alt="" onclick="store(this)"></td>
        </tr>
        <tr>
          <td><img src="../public/img/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td>
            <h4>Käsekuchen</h4>
            <p>Wer kennt sie nicht, die Käsekuchen mit feiner 
              Quarkcremefüllung, welche auf Familienfeste um 
              die Wette gegessen wurden, da jede Groß-/Mutter 
              mindestens einen auf Lager hatte. Natürlich wurde 
              nicht gezögert, diesen immerzu zur Show zu stellen. 
            </p>
          </td>
          <td><p>10€</p></td>
          <td><input type="image" value="bild" src="../public/img/shoppingCart.png" alt="" onclick="store(this)"></td>
        </tr>
        <tr>
          <td><img src="../public/img/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td>
            <h4>Schokoladenkuchen</h4>
            <p>Allein das Bild weckt Erinnerungen, die gemeinsam 
              versuchen ein Geschmacksbild an die Mund- und Gaumengegend 
              zu projezieren. Sicher gibt es abertausende 
              Schokoladenkuchenezepte, unseres gehört jedoch mit keinem 
              Zweifel in die obere Sparte. Überzeuge Dich selbst, wir 
              sind es bereits.
              <br/><br/>Ein großes Dankeschön an Oma Hilde.
            </p>
          </td>
          <td><p>10€</p></td>
          <td><input type="image" value="bild" src="../public/img/shoppingCart.png" alt="" onclick="store(this)"></td>
        </tr>
      </table>
    </div>
  </div>

  <footer>
    

    <div class="footerDiv">
      <a href="ueberUns.html">Über uns / AGB</a>
      <a href="impressum.html">Impressum</a>
      <a href="kontakt.html">Kontaktformular</a>
    </div>

    <div>
      &copy;
      Copyright 2021
      Kuchen AG
    </div>


  </footer>


</body>
</html>
