<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Individuelles Sortiment</title>
  <script src="../public/js/allgemein.js" defer></script>
  <script src="../public/js/sortimentI.js" defer></script>
  <link href="../public/css/SSMain.css" rel="stylesheet">
  <link href="../public/css/SSNavBarAndFooter.css" rel="stylesheet">
  <link href="../public/css/SSBackgroundsAndContainers.css" rel="stylesheet">
  <link href="../public/css/SSTables.css" rel="stylesheet">
  <link href="../public/css/SSFieldset.css" rel="stylesheet">
  <link href="../public/css/SSButtons.css" rel="stylesheet">
  <link href="../public/css/SSImage.css" rel="stylesheet">
  <link href="../public/css/SSDropdown.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="../public/img/Cake.png" alt="" id="logo" onclick="sendToStart()">
      <a href="start.html">Startseite</a>
      <a href="shop.html" class="navbarSelected" id="shop" >Shop</a>
      <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
      <a href="account.html" id="user">Account</a>
    </nav>
  </header>








  <div class="containerSmallLeft">

    <!---DIV 1---------->

    <div class="overlappingImages">

      <div class="overlappingItemFrame">
        <img src="../public/img/CylinderFrame.png" alt="Italian Trulli">
      </div>

      <div class="overlappingItemTOP-Topping">
        <img src="../public/img/CylinderTopping.png" alt="Italian Trulli" id="topping">
      </div>

      <div class="overlappingItemTOP">
        <img src="../public/img/CylinderTop.png" alt="Italian Trulli" id="topping2">
      </div>

      <div class="overlappingItemsMIDDLE">
        <img src="../public/img/CylinderMiddle.png" alt="Italian Trulli" id="middle">
      </div>

      <div class="overlappingItemsBOTTOM">
        <img src="../public/img/CylinderBottom.png" alt="Italian Trulli" id="bottom">
      </div>

    </div>





<!--DIV 2---------->

<div>
  <form id="form" class="dropdown" name="form">
    <table class="tableLogin Checkout individual">
      <tr>
        <td colspan="1"><label for="">Topping</label></td>
      </tr>
      <tr>
        <td colspan="1"><select onclick="start('topping',value.substr(-2,2))"name="" id="select1" class="dropdown">
          <option value="05/01"><p>Erdbeere  5€</p></option>
          <option value="05/02">Himbeeren 5€</option>
          <option value="05/03">Schokolade 5€</option>
          <option value="05/04">Sahne 5€</option>
        </select ></td>
      </tr>
      <tr>
        <td colspan="1"><label for="">Außenschicht</label></td>
      </tr>
      <tr>
        <td colspan="1"><select onclick="start('topping2',value.substr(-2,2))"  name="" id="select2">
          <option value="05/05">Schokolade 5€</option>
          <option value="05/06">Weiße Schokolade 5€</option>
          <option value="05/07">Zitronen-Jogurtcreme 5€</option>
          <option value="05/08">Schokoladen-Jogurtcreme 5€</option>
        </select></td>
      </tr>

      <tr>
        <td colspan="1"><label for="">Füllung</label></td>
      </tr>
      <tr>
        <td colspan="1"><select onclick="start('middle',value.substr(-2,2))" name="" id="select3">
          <option value="05/09">Schokolade 5€</option>
          <option value="05/10">Weiße Schokolade 5€</option>
          <option value="05/11">Erdbeeren-Jogurtcreme 5€</option>
          <option value="05/12">Himbeer-Jogurtcreme 5€</option>
        </select></td>
      </tr>

      <tr>
        <td colspan="1"><label for="">Boden</label></td>
      </tr>
      <tr>
        <td colspan="1"><select onclick="start('bottom',value.substr(-2,2))" name="" id="select4">
          <option value="25/13">Standartboden &Oslash;20cm 25€</option>
          <option value="20/14">Standartboden &Oslash;16cm 20€</option>
          <option value="25/15">Schokoladenboden &Oslash;20cm 25€</option>
          <option value="25/16">Schokoladenboden &Oslash;16cm 25€</option>
        </select></td>
      </tr>
    </table>
  </form>
</div>
<!---DIV 3---------->
<div class="imgIndividualComponent">
    <img src="../public/img/erdbeeren2.png" alt="Italian Trulli" id="bildMaterial">
</div>
</div>










<div class="containerSmallright">
  <div>
    <table class="tableBuy Checkout">
      <tr>
        <td>Summe:</td>
        <td id="summe"></td>
      </tr>
      <tr>
        <td>Mehrwertsteuer:</td>
        <td id="mehrwert"></td>
      </tr>
      <tr>
        <td>Gesamtsumme:</td>
        <td id="gesamtsumme"></td>
      </tr>
    </table>
  </div>

  <div>
    <table class="tableBuy Checkout tableBuyButtons">

      <tr>
        <td>
          <button class="button1" onclick="sendOn()" >
            <span>
              zum Warenkorb hinzufügen
            </span>
          </button>
        </td>
      </tr>

    </table>
  </div>
</div>





<footer>
  

  <div class="footerDiv">
    <a href="ueberUns.html">Über uns / AGB</a>
    <a href="impressum.html">Impressum</a>
    <a href="kontakt.html">Kontaktformular</a>
  </div>

  <div>
    &copy;
    Copyright 2021
    Kuchen AG
  </div>

</footer>


</body>
</html>
