<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regulaeres Sortiment</title>
  <script src="../public/js/allgemein.js" defer></script>
  <script src="../public/js/sortimentR.js" defer></script>
  <link href="CSS/SSMain.css" rel="stylesheet">
  <link href="CSS/SSNavBarAndFooter.css" rel="stylesheet">
  <link href="CSS/SSBackgroundsAndContainers.css" rel="stylesheet">
  <link href="CSS/SSTables.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="../public/Cake.png" alt="" id="logo">
      <a href="start.html">Startseite</a>
      <a href="shop.html" class="navbarSelected">Shop</a>
      <a href="warenkorb.html" id="warenkorb">Warenkorb</a>
      <a href="login.html" id="user">Account</a>
    </nav>
  </header>


  <div class="containerVertical">
    <h1>Reguläres Sortiment</h1>
    <div class="containerVertical">
      <table class="tableList">
        <tr>
          <td><img src="../public/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td><p>Lorem ipsum dolor sit aptt justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata</p></td>
          <td><p>123€</p></td>
          <td><input type="image" value="bild" src="../public/shoppingCart.png" alt="" onclick="store(this)"></td>
        </tr>
      </table>

      <table class="tableList">
        <tr>
          <td><img src="../public/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata</p></td>
          <td><p>123</p></td>
          <td><input type="image" value="bild" src="../public/shoppingCart.png" alt="" onclick="store(this)"></td>

        </tr>
      </table>



      <table class="tableList">
        <tr>
          <td><img src="../public/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata</p></td>
          <td><p>123</p></td>
          <td><input type="image" value="bild" src="../public/shoppingCart.png" alt="" onclick="store(this)"></td>
        </tr>
      </table>


      <table class="tableList">
        <tr>
          <td><img src="../public/cake-example.png" alt="" srcset="" class="tableImgList"></td>
          <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata</p></td>
          <td><p>123</p></td>
          <td><input type="image" value="bild" src="../public/shoppingCart.png" alt="" onclick="store(this)"></td>
        </tr>
      </table>
    </div>
  </div>

  <footer>
    <div>
      &copy;
      Copyright 2021
      Kuchen AG
    </div>

    <div class="footerDiv">
      <a href="ueberUns.html">Über uns / AGB</a>
      <a href="impressum.html">Impressum</a>
      <a href="kontakt.html">Kontaktformular</a>
    </div>



  </footer>


</body>
</html>
