<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indiwiduelles Sortiment</title>
    <script src="../public/js/sortimentI.js" defer></script>
</head>
<body>
    <header>
        <img src="" alt="" id="logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Startseite</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Warenkorb</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </nav>
<article>
    <h1>Individuller Kuchen</h1>


    <div>
        <div>
            <h2>Boden</h2>
            <table>
                <tr>
                    <td>
                        <img src="" alt="">
                        <p>Standart</p>
                    </td>
                    <td>
                        <img src="" alt="">
                        <p>Standart</p>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <img src="" alt="">
                        <p>Standart</p>
                    </td>
                    <td>
                        <img src="" alt="">
                        <p>Standart</p>
                    </td>
                    
                </tr>
            </table>
        </div>

    </div>

    <div>
        <form id="form">
            <table>
                <tr>
                    <td colspan="2"><label for="">1. Boden</label></td>
                </tr>
                <tr>
                    <td colspan="2"><select name="" id="select1">
                        <option value="1"><p>Standart 25</p></option>
                        <option value="2">Standart</option>
                        <option value="3">Standart</option>
                        <option value="4">Standart</option>
                        <option value="5">Standart</option>
                    </select></td>
                </tr>
                <tr>
                    <td colspan="2"><label for="">1. Boden</label></td>
                </tr>
                <tr>
                    <td colspan="2"><select name="" id="select2">
                        <option>Standart 25</option>
                        <option>Standart</option>
                        <option>Standart</option>
                        <option>Standart</option>
                    </select></td>
                </tr>

                <tr>
                    <td colspan="2"><label for="">1. Boden</label></td>
                </tr>
                <tr>
                    <td colspan="2"><select name="" id="select3">
                        <option>Standart 25</option>
                        <option>Standart</option>
                        <option>Standart</option>
                        <option>Standart</option>
                    </select></td>
                </tr>

                <tr>
                    <td colspan="2"><label for="">1. Boden</label></td>
                </tr>
                <tr>
                    <td colspan="2"><select name="" id="select4">
                        <option>Standart 25</option>
                        <option>Standart</option>
                        <option>Standart</option>
                        <option>Standart</option>
                    </select></td>
                </tr>

                <tr></tr>
                <tr>
                    <td><p id="summe">Summe: 0,00</p></td>
                    <td><p id="mehrwert"></p></td>
                    <td><p id="gesamtsumme"></p></td>
                    <td><button type="submit">Bestellen</button></td>
                </tr>
            </table>


        </form>


    </div>

</article>

<footer>
    <div>
        <ul>
            <li><a href="">Über uns / AGB</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Kontaktformular</a></li>
        </ul>
    </div>
    
    <div>
        &copy;
		Copyright 2021
		Kuchen AG
    </div>

</footer>


</body>
</html>