<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warenkorb</title>
</head>
<body>
    <header>
        <img src="" alt="" id="logo">
    </header>

    <nav>
        <ul>
            <li><a href="">Startseite</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Warenkorb</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </nav>
<article>
    <h1>Warenkorb</h1>

    <div>
        <table>
          <tr>
            <td><img src="" alt=""></td>
            <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p></td>
            <td><p>250</p></td>
            <td><button onclick=""><img src="" alt=""></button></td>
            </tr>
        </table>
    </div>

    <div>
        <p>Summe: 250</p>
        <button onclick="">Zur Kasse</button>
    </div>

</article>

<footer>
    <div>
        <ul>
            <li><a href="">Über uns / AGB</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Kontaktformular</a></li>
        </ul>
    </div>
    
    <div>
        &copy;
		Copyright 2021
		Kuchen AG
    </div>

</footer>


</body>
</html>