
.overlappingImages {
  min-width: 400px;
  height: 100%;
  min-height: 450px;
  position: relative;
  padding: 1%;
  
}



.overlappingImagesDiv {
  display: flex;
  justify-content: center;
  background-color: #333 !important;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,.25);
}

.infoTextDiv {
  position:absolute;
  top: 10px;
  z-index: 6;
  height: 20px;
  width:100%;
}


.infoTextDiv p {
  text-align: center;
}

.overlappingItemFrame {
  z-index: 5;
  top: 60px;
  position:absolute;
}

.overlappingItemTOP-Topping {
  z-index: 4;
  position:absolute;
  top: 60px;
}


.overlappingItemTOP {
  z-index: 3;
  position:absolute;
  top: 60px;
}

.overlappingItemsMIDDLE {
  z-index: 2;
  position:absolute;
  top: 60px;
}

.overlappingItemsBOTTOM {
   z-index: 1;
   position:absolute;
  top: 60px;
}



.overlappingImages img {

  height: 360px;
  border: 0px solid rgba(0,0,0,0.2);
}

.overlappingItemFrame img {
  height: 360px;
}

.overlappingImages {
  border: 5px solid rgba(0,0,0,0.2);
}
/*
.overlappingItemTOP-Topping img {
  filter: brightness(0%) invert(14%) sepia(47%) saturate(5789%) hue-rotate(353deg) brightness(106%) contrast(82%);
}

.overlappingItemTOP img {
  filter: brightness(0%) invert(26%) sepia(76%) saturate(552%) hue-rotate(344deg) brightness(101%) contrast(95%);
}

.overlappingItemsMIDDLE img {
  filter: brightness(0%) invert(26%) sepia(76%) saturate(552%) hue-rotate(344deg) brightness(101%) contrast(95%);
}

.overlappingItemsBOTTOM img {

  filter: brightness(0%) invert(62%) sepia(98%) saturate(301%) hue-rotate(338deg) brightness(99%) contrast(93%)
}
*/
.imgIndividualComponent {
  width: auto;
  max-height: 450px;
  display: initial !important;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;

}

.imgIndividualComponent table {
  width: 100%;
  
}


.imgIndividualComponent img{
  display: initial;
  width: auto;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 00px;
  border: 2px solid rgba(0,0,0,1);
  max-height: 375px;
  width: auto;
  object-fit: cover;
}




@media only screen and (max-width: 1200px) {
  .overlappingImages {
    height: 450px;
    width: 100%;
  }

}



@media only screen and (max-width: 800px) {
  .overlappingImages {
    min-width: 300px;
    min-height: 350px;
    height: 350px;
    position: relative;
    padding: 1%;
  }

  .overlappingImages img {

    height: 250px;
    border: 0px solid rgba(0,0,0,0.2);
  }

  .infoTextDiv {
    top: 0px;

  }

}


