.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #333;
  border: 2px solid rgba(0,0,0,.25);
  margin: 10px 10px 0;
  justify-content: flex-end;
}


.navbar > a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1vw;
  width: 25%;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
  transition-duration: 0.5s;
}

.navbar a.navbarSelected {
  background-color: #ddd;
  color: black;
  transition-duration: 0s;
}


footer {
  margin-top:auto;
}

footer > div {
  text-align: center;
    margin: 15px 10px 0px 10px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #333;
  border: 2px solid rgba(0,0,0,.25);
  margin: 50px 10px 10px 10px;
}

.footerDiv > a {
  color: #f2f2f2;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 1vw;
  width: 33%;
}

.footerDiv a:hover {
  background-color: #ddd;
  color: black;
}

.footerDiv a.navbarSelected {
  background-color: #ddd;
  color: black;
  transition-duration: 0s;
}


#logo {
  width: 40px;
  height: 40px;
  filter: invert(100%);
  margin: 5px 5px 0;
}

#logo:hover {
  filter: grayscale(100%);
  background-color: #ddd;
}
<<<<<<< Updated upstream
=======





@media only screen and (max-width: 800px) {
  .navbar {
    margin: 0px 0px 0;
  }

  .footerDiv {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  #logo{
    display:none;
  }
}



@media only screen and (max-width: 1400px) {
  .footerDiv > a {
    font-size: 2vw;
  }

  .navbar > a {
    font-size: 2vw;
  }
}


@media only screen and (max-width: 1000px) {
  .footerDiv > a {
    font-size: 4vw;
  }

  .navbar > a {
    font-size: 3vw;
  }
}



>>>>>>> Stashed changes
