
/*---------------3x3-----------------*/
.table3x3 {
  margin: 2%;
  margin-top: 5%;
  border-collapse: separate;
  border-spacing: 15px;
  border: 2px solid rgba(0,0,0,.25);
  background-color: #333;
}

.table3x3:hover {
  background-color: #fff;
  filter: brightness(110%);
  transition-duration: 0.5s;
}


.table3x3 img {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  height: auto;
  border: 2px solid rgba(0,0,0,.25);
  padding: 0;
  max-width: 300px;
}

.table3x3 img {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  height: auto;
  border: 2px solid rgba(0,0,0,.25);
  padding: 0;
  max-width: 300px;
}

.table3x3.tableIndi {
  margin: 2%;
  margin-top: 0;
}

.table3x3.tableIndi img {
  max-width: 250px;
}

/*---------------LIST-----------------*/
.tableList {
  margin:0;
  border-spacing: 15px;
  border: 2px solid rgba(0,0,0,0.2);
  background-color: #333;
  width:100%;
  overflow-y:auto;
  display:block;
}

.tableList td {
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 00px;
  color:white;
  text-shadow: 0px 0px black;
  padding: 0;
}

.tableList td:nth-child(1) {
  border: 2px solid rgba(255,255,255,0.25);
  width: 5%;
}

.tableList td:nth-child(2) {
  width: auto;
  border-radius: 0px;
  padding-left: 1%;
  padding-right: 1%;
}

.tableList td:nth-child(3) {
  width: 5%;
  text-align: center;
}

.tableList td:last-child {
  border: 2px solid rgba(255,255,255,0.25);
  width: 5%;
}

.tableList.tableListHistory td:nth-child(1) {
  width: 85%;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.25);
}

.tableList.tableListHistory td:nth-child(1) {
  width: 5%;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.25);
}

.tableList.tableListHistory td:nth-child(3) {
  width: 5%;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}

.tableList.tableListHistory td:nth-child(4) {
  width: 5%;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.25);
}

.tableList.tableListHistory td:nth-child(5) {
  width: 5%;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.25);
}

.tableList.tableListHistory.tableHistoryUserdata td:nth-child(4) {
  width: 5%;
  text-align: center;
}

.tableList.tableListHistory.tableHistoryUserdata td:nth-child(3) {
  width: 10%;
  text-align: center;
}

.tableList.tableListHistory button {
  border: 0px solid rgba(0,0,0,0.2);
}



.tableList img {

  height: 15vmin;
  border: 0px solid rgba(255,255,255,0.25);
  border-radius: 00px;
  padding: 0;
  outline: 0;
  vertical-align: bottom;
  display: block;
  object-fit: cover;
}


.tableList input {
  display: flex;
  flex-wrap:nowrap;
  width: auto;
  height: 15vmin;
  border: 0px solid rgba(0,0,0,0.25);
  background-color: #333;
  border-radius: 00px;
  padding: 0;
  outline: 0;
  width: 100%;

  text-align: center;
  color: #fff;
  font-family: Roboto-light;
  font-size: 2vmin;
}




.tableList button {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: 0px solid rgba(0,0,0,0.25);
  border-radius: 00px;
  cursor: pointer;
  outline: 0;
  filter: invert(100%);
  padding-top: 0rem;
}

.tableList button:hover {
  transition-duration: 0.5s;
}


.tableList button img {
  border-style: none;
  height: 15vmin;
}

.tableList td:nth-child(4) button:hover {
  background-color: #f4511e;
}

.tableList.tableListCart td:nth-child(4) {
  text-align: center;
}

.tableList.tableListCart td:nth-child(5) {
  height: 100%;
}

.tableList.tableListCart td:nth-child(5) button:hover {
  background-color: #00CED1;
}

.tableList.tableListHistory td:nth-child(5) button:hover {
  background-color: #ff1493;
}



.tableList.tableListHistory.tableHistoryUserdata td:nth-child(4) button:hover {
  background-color: #483d8b;
}

.tableList.tableListHistory.tableHistoryUserdata td:nth-child(5) button:hover {
  background-color: #00CED1;
}




.tableList.scrollable{
  overflow-y:scroll;
  height: 280px;
  display:block;
}




.tableList.scrollable td:nth-child(3) {
  width: 5%;
  text-align: center;
  border: 2px solid rgba(0,0,0,0.2);
}


.tableList.tableListCheckout td:nth-child(4) {
  width: 5%;
  text-align: center;
}

.tableList.tableListConfirmation {
  margin-bottom: 10px;
}



.tableList.tableListConfirmation td {
  width: 33%;
  text-align: center;
  border: 0px solid rgba(0,0,0,0.2);
}






/*-----------ZUR KASSE------------------*/
.tableBuy{
  background-color: #333;
  color: #f2f2f2;
  border: 2px solid rgba(0,0,0,1);
  padding: 10px;
  text-align: left;
  border-spacing: 0px 0;
  height: 100%;
  table-layout: fixed;
}


.tableBuy td{
  width: 100%;
  border:0px solid rgba(0,0,0,1);

}

.tableBuy td:nth-child(2){
  text-align: right;
  width: 100px;
}

.tableBuy.Checkout{

}





.tableBuy.tableBuyButtons td {
  text-align: center;
  width: 100%;
}


.tableProduct{
  background-color: #333;
  color: #f2f2f2;
  border: 2px solid rgba(0,0,0,1);
  padding: 0px;
  text-align: center;
  border-spacing: 10px 10px;
  height: 100%;
  vertical-align:middle; text-align:center;
  width: 100%;
}

.tableProduct img{
  display:flex;
  width: 100%;
  border: 0px solid rgba(0,0,0,1);
  max-width: 35rem;
  vertical-align: middle;
  display: block;
}

.tableProduct td{
  border: 00px solid rgba(0,0,0,1);
  padding:0;
  width: 50%;
}

.tableProduct input, label{
  display:flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}



#tableProductImage2 img {
  border: 1px solid rgba(0,0,0,1);
  padding: 0;
  outline: 0;
  vertical-align: bottom;
  display: block;
  max-width: 50rem;
}

#tableProductImage2 {
  width: 50%;
}


.tableProduct.tableProductDescription {
  width: 100%;
}

.tableProduct.tableProductDescription td {
  width: 100%;
}

.tableProduct.tableProductReg{
  width: 100%;
  min-height: 46rem;
  border-spacing: 10px 10px;

}

.tableProduct.tableProductReg img{
  max-height: 26rem;
  min-height: 26rem;
  min-width: 100%;
  padding: 0px;
}



.tableProduct.tableProductReg td {
  width: 100%;
  border: 0px solid rgba(0,0,0,1);
  padding: 0px;
}


.tableProductImage {
  border: 0px solid rgba(0,0,0,1);
  display:block;

}

.tableProductImage img {
  border: 1px solid rgba(0,0,0,1);
  object-fit: cover;
}



/*-----------BESTELLEN------------------*/
.tableOrder{
  background-color: #333;
  color: #f2f2f2;
  border: 0px solid rgba(0,0,0,0.25);
  padding: 20px;
  text-align: left;
  overflow-y:scroll;
  height: 280px;
  display:block;
}



.tableOrder td:nth-child(3){
  width:50%;
}

.tableOrder td:nth-child(2){
  text-align: right;
}


.scrollableTable{
  overflow-y:scroll;
  height: 280px;
  display:block;
}


/*------Login------------*/
.tableLogin{
  background-color: #333;
  color: #f2f2f2;
  border: 2px solid rgba(0,0,0,1);
  padding: 20px;
  text-align: left;
  height: 280px;
  width: 100%;
  border-spacing: 15px;

  
}

.tableLogin tr:nth-child(-n+7){
  text-align: center;
}




.tableLogin.tableReset{
  border: 2px solid rgba(0,0,0,1);
  width: 100%;
    table-layout:fixed;
}


.tableLogin.tableLoginNewPW tr:nth-child(-n+6){
  text-align: center;
}

.tableLogin.tableLoginED {

  text-align: center;
  height: auto;
  margin-bottom: 10px;
}

.tableLogin.tableLoginED td{
  text-align: center;
  max-height: 20px;
  border: 0px solid rgba(0,0,0,1);
}



.tableLogin.tableLoginContact tr{
  text-align:center;
}

.tableLogin.tableLoginContact td{
  border: 0px solid rgba(0,0,0,1);
  width: 100%;
}






.tableLogin.Checkout {
  height: 100%;
  min-height: 160px;
  width: 100%;
  border: 2px solid rgba(0,0,0,1);
  border-spacing: 10px 0px;
  table-layout: fixed;

}

.tableLogin.Checkout td {
  border: 0px solid rgba(0,0,0,1);
}

.tableLogin.Checkout.CheckoutRight {
    table-layout: auto;
}


.tableLogin.Checkout.CheckoutRight td {
  text-align: right;
  vertical-align: bottom;

}


.tableLogin.Checkout.individual td {
  text-align: left;
  vertical-align: bottom;
}



.tableLogin.Checkout.individual{
  text-align: right;
  vertical-align: bottom;
  width: 100%;

}


.UeberUnsTable td{
  border: 0px solid rgba(0,0,0,1);
  padding: 15px;
}

.UeberUnsTable p{
  text-align: justify;
  hyphens: auto;
}

.UeberUnsTable img{
  border: 2px solid rgba(0,0,0,1);
  width:300px;
}

.UUimageTD{
  width:20%;
}








@media only screen and (max-width: 1000px) {
  .tableAtMediaChanges1000 {
    border-collapse:collapse;
    page-break-inside: avoid;
  }
  .tableAtMediaChanges1000 tr {
    height:4em;
  }
  .tableAtMediaChanges1000 th {
    padding:.07em .2em;
    white-space:nowrap;
    font-weight:400;
    height:4em;
  }
  .tableAtMediaChanges1000 td {

    white-space:nowrap;
    height:1.4em;
    display:inline;
}
.tableAtMediaChanges1000 td:not(:last-child)::after {
    display:block;
    content:'';
    height:0;
}
}




@media only screen and (max-width: 500px) {


.tableProduct tr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}

.tableProduct td{
  width: 100%;
}

.tableProduct.tableProductReg tr{
  display: table-row;
}

#tableProductImage2 {
  width: 100%;
}

.tableList {

  border-spacing: 5px;
}

}


@media only screen and (max-width: 800px) {
  .tableLogin.tableMaxWidthWhenSmall {
    table-layout: fixed;
  }

  
.tableLogin tr:nth-child(5){
  text-align: center;
}

}

@media only screen and (max-width: 600px) {
  .tableAtMediaChanges600 {
    border-collapse:collapse;
    page-break-inside: avoid;
  }
  .tableAtMediaChanges600 tr {
    height:4em;
  }
  .tableAtMediaChanges600 th {
    padding:.07em .2em;
    white-space:nowrap;
    font-weight:400;
    height:4em;
  }
}