

.fieldset1  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  vertical-align: center;
  border: 2px solid rgba(0,0,0,1);
  font-size: 20px;
  align-items: center;
  background-color: #333;
  height: 100%;
}

.fieldset1 table {
  border: 0px solid rgba(0,0,0,0.2);
  border-spacing:15px 5px;
  text-align: right;
}

.fieldset1 form {
  float:center;
  border: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
}

.fieldset1 > label {
  border: 0px solid rgba(0,0,0,0.2);
  font-size: 22px;
  display: inline-block;
}

.fieldset1 > h2 {
  font-size: 26px;
}



.fieldset2  {
  min-height: 200px;
  border: 2px solid rgba(0,0,0,0.2);
  font-size: 20px;
  align-items: center;
  align-self: center;
  width: 50%;

}

.fieldset2 table {
  border: 0px solid rgba(0,0,0,0.2);
  border-spacing:15px 5px;
  text-align: left;
}

.fieldset2 form {
  border: 0px solid rgba(0,0,0,0.2);
  display: inline-block;
}

.fieldset2 > label {
  border: 0px solid rgba(0,0,0,0.2);
  font-size: 22px;
  display: inline-block;
}

.fieldset2 > h2 {
  font-size: 26px;
}



.inputField1 input{
  border: none;
  border-bottom: 2px solid #ffffff;
  background: rgba(0,0,0,0);
  width: auto;
  color: #ffffff;
  font-size: 22px;

}

.inputField1.inputField1Reset input{
  width: 100%;
}

.inputField1.inputField1Contact input {
  width: auto;
}

.inputField2 input {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.5);
  background: rgba(0,0,0,0);
  width: 200px;
}


.inputField1.inputField1ED input{
  width: 200px;
  font-size: 22px;
}

#tableLoginEDalign input{
  width:40px;
}


.inputField1 textarea {
  width: 100%;
  height: 150px;
  max-width: 600px;
  min-width: 99%;
  min-height: 100px;


}
