<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestellhistorie</title>
    <script src="./js/allgemein.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet">
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet">
    <link href="./css/SSButtons.css" rel="stylesheet">
    <link href="./css/SSFieldset.css" rel="stylesheet">
    <link href="./css/SSTables.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()">
      <a href="/start">Startseite</a>
      <a href="/shop" id="shop">Shop</a>
      <a href="/warenkorb" id="warenkorb">Warenkorb</a>
      <a href="/account" class="navbarSelected" id="user">Account</a>
    </nav>
  </header>



    <div class="containerVertical">
      <div>
        <h2>Bestellhistorie</h2>
        <table class="tableList tableListHistory">
          <tr>
            <th>Bestellnummer</th>
            <th>Beschreibung</th>
            <th>Rechnungsbetrag</th>
            <th>Bestelldatum / Lieferdatum</th>
          </tr>
          <tr>
            <td><p>1</p></td>
            <td><p>2x Erdbeerkuchen</p></td>
            <td><p>30€</p></td>
            <td><p>01.01.2021 / 02.01.2021</p></td>
          </tr>
          <tr>
            <td><p>2</p></td>
            <td><p>2x Erdbeerkuchen</p></td>
            <td><p>30€</p></td>
            <td><p>05.01.2021 / 09.01.2021</p></td>
          </tr>
        </table>
    </div>
</div>



    <footer>
      
      <div class="footerDiv">
        <a href="/ueberUns">Über uns / AGB</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>
        &copy;
        Copyright 2021
        Kuchen AG
      </div>
    </footer>


</body>
</html>
