<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Bestellbestaetigung Nr. yx
    </title>


</head>


<body>
    <p>
        Mahlzeit Herr/Frau xy,
    </p>
        
    <p>
        danke, dass Du Dich fuer unseren Kuchen entschieden hast. Wir haben Deine 
        Bestellung erhalten und bearbeiten sie nun umgehend. 
        <br>Im Normalfall wird Deine Lieferung in 2-3 Tagen Deine Haustuere erreichen.        
    </p>
    <p>
        Bitte kontaktiere uns, sollte dies nicht der Fall sein.
    </p>
    <p>
        Ein grosses Dankeschoen fuer Dein Vertrauen und auf viele weitere Kuchen! :)
    </p>
    <p>
        Dein Kuchenshop-Team
    </p>
</body>
</html>