<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ihre Daten</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/ihreDaten.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet" />
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet" />
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet" />
    <link href="./css/SSTables.css" rel="stylesheet" />
    <link href="./css/SSFieldset.css" rel="stylesheet" />
    <link href="./css/SSButtons.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()" />
        <a href="/">Startseite</a>
        <a href="/shop" id="shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/login" class="navbarSelected" id="user">Account</a>
      </nav>
    </header>

    <div class="containerSmallCenter">
    <div>
      <h2>Ihre Daten</h2>

      <form action="/ihreDaten" method="post" class="inputField1 inputField1ED" id="form" name="form">
        <table class="tableLogin tableLoginED tableAtMediaChanges600">
          <tr>
            <td><label for="username">Mitarbeiternummer</label></td>
            <td rowspan=><label for="email">E-Mail</label></td>
          </tr>

          <tr>
            <td>
              <input type="text" required id="username" name="username" readonly/>
            </td>
            <td><input type="email" required id="email" name="email" readonly /></td>
          </tr>
        </table>


        <table class="tableLogin tableLoginED tableAtMediaChanges600 tableMaxWidthWhenSmall">
          <!--Z1, Z5, Z10-->
          <tr>
            <td><label for="">Anrede</label></td>
            <td><label for="plz">PLZ</label></td>
          </tr>
          <tr>


            <td id="tableLoginEDalign">
                    <input
                      type="radio"
                      name="Herr"
                      id="Herr"
                      onclick="changeElem('Herr')"
                      readonly
                    />Herr
                    <input
                      type="radio"
                      name="Frau"
                      id="Frau"
                      onclick="changeElem('Frau')"
                      readonly
                    />Frau
                </td>
            <td><input type="text" id="plz" name="plz" readonly /></td>
          </tr>
          </tr>

          <!--Z2, Z6, Z11-->
          <tr>

            <td><label for="vorname">Vorname</label></td>
            <td><label for="stadt">Stadt</label></td>
          </tr>
          <tr>

            <td>
              <input type="text" id="vorname" name="vorname" readonly />
            </td>
            <td>
              <input type="text" name="stadt" id="stadt" readonly />
            </td>
          </tr>

          <!--Z3-->
          <tr>

            <td><label for="nachname">Nachname</label></td>
            <td><label for="strasse">Strasse</label></td>
          </tr>
          <tr>

            <td>
              <input type="text" id="nachname" name="nachname" readonly />
            </td>
            <td>
              <input type="text" id="strasse" name="strasse" readonly />
            </td>
          </tr>


          <!--Z4-->
          <tr>

            <td><label for="geb">Geburtstag</label></td>
            <td><label for="hausnr">Hausnummer</label></td>
          </tr>
          <tr>

            <td><input type="date" id="geb" name="geb" readonly/></td>
            <td><input type="text" id="hausnummer" name="hausnr" readonly/></td>
          </tr>


        </table>
      </form>

    </div>
  </div>

    <footer>
      <div class="footerDiv">
        <a href="/ueberUns">Über uns / AGB</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>&copy; Copyright 2021 Kuchen AG</div>
    </footer>
  </body>
</html>
