<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <script src="./js/allgemein.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet">
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()">
        <a href="/">Startseite</a>
        <a href="/shop" id="shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/login" id="user">Account</a>
      </nav>
    </header>




    <div class="containerHorizontal">
      <div>
      <h2>Impressum</h2>
        <p>Moderner Kuchenverkauf (Demoversion)</p>
        <p>Anschrift: 
          <br/>Musterstraße 20, 785xx Musterstadt</p>
        <p>Mail: 
          <br/>kuchen@verkauf.de</p>
        <p>Homepage: 
          <br/>www.musterhomepage.de</p>
        <p>Geschäftsführer: 
          <br/>Christian Seifriz, Niklas Meier, Vlado Swiderski, Julian Rehwald</p>
        <p>Bankverbindung: 
          <br/>IBAN: DExx xxxx xxxx xxxx xxxx xx
          <br/>BIC: xxxxxxxxxxx</p>
        <p>Handelsregister:
        <br/>Nr.: HRB xxxxxx</p>
        <p>USt-IDNR: 
          <br/>DE999999999</p>
        
      </div>
    </div>
    <div class="containerHorizontal">
      <div class="agb">
        <h2>AGB</h2>
        <p>Unsere allgemeinen Geschäftsbedingungen findest Du auf dem nachfolgenden Link:
          <p>
            <a id="agb" href="../public/pdf/Rechtstext_AGB_--_2021-04-10_02_15pm.pdf"> 
              hier
            </a>
          </p>
        </p>
      </div>
    </div>


    <footer>
      

      <div class="footerDiv">
        <a href="/ueberUns">Über uns / AGB</a>
        <a href="/impressum" class="navbarSelected">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>
        &copy;
        Copyright 2021
        Kuchen AG
      </div>

    </footer>


</body>
</html>
