<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bananenkuchen</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/warenkorb.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet">
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet">
    <link href="./css/SSTables.css" rel="stylesheet">
    <link href="./css/SSButtons.css" rel="stylesheet">
    <link href="./css/SSImage.css" rel="stylesheet">
    <link href="./css/SSFieldset.css" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()">
        <a href="/start">Startseite</a>
        <a href="/shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/account" class="navbarSelected" id="user">Account</a>
      </nav>
    </header>

<div class="containerProduct">
  <div>
      <table class="tableProduct">
          <tr>
            <td rowspan="4" id="tableProductImage2"><img src="./img/bananenkuchen.jpg"></td>
            <td colspan="1">
                <h3>Bananenkuchen</h3>
                <p>
                  Hier handelt es sich um eine eigens angefertigte
                  Kreation der Schwester eines Mitbegründer dieser
                  Homepage und diese hat es in sich...
                </p>
                <a href="#unten">
                  Klicke hier für die vollständige Beschreibung :)
                </a>


            </td>

          </tr>
          <tr>
              <td colspan="1"><h4>Preis: 16,00€</h4></td>
          </tr>
          <tr>
              <td colspan="1">
                <p>
                <a href="../public/pdf/Nährwerttabelle-Muster.pdf">
                  Nährwerttabelle
                </a>
                </p>
              </td>
          </tr>
          <tr colspan="1" class="inputField2 inputField2Product">
            <td>
              <label for="male">
                Menge:
                <input type="number" name="" id="">
              </label>
            </td>
          </tr>
          <tr>
              <td colspan="2"><button class="button1 button1Product">Warenkorb</button></td>
          </tr>
      </table>
  </div>
  <div>
    <table class ="tableProduct tableProductDescription">
      <tr>
        <td>
            <a name="unten">
              <p>
                Beschreibung
                <br/><br/>
                Hier handelt es sich um eine eigens angefertigte
                Kreation der Schwester eines Mitbegründer dieser
                Homepage und diese hat es in sich. Zusammengestellt
                aus verschiedensten Cremespezialitäten lädt die
                gezeigte Bananentorte zu jeglicher Jahreszeit ein
                gegessen zu werden. Abgerundet mit Bananenchips
                haucht der Geschmack im Gesamten einer jeden langweiligen
                Lockdowngemeinschaft ein wenig mehr Lebensfreude
                während der ereignislosen Daheimsitzerei ein.
            </p>
          </a>

        </td>

        
      </tr>
      <tr>
        <td><p></p></td>
      </tr>
    </table>
  </div>

</div>

    <footer>


        <div class="footerDiv">
          <a href="/ueberUns">Über uns</a>
          <a href="/impressum">Impressum</a>
          <a href="/kontakt">Kontaktformular</a>
        </div>

        <div>
          &copy;
          Copyright 2021
          Kuchen AG
        </div>

      </footer>


  </body>
  </html>
