<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/login.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet">
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet">
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet">
    <link href="./css/SSButtons.css" rel="stylesheet">
    <link href="./css/SSFieldset.css" rel="stylesheet">
    <link href="./css/SSTables.css" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()">
        <a href="/start">Startseite</a>
        <a href="/shop" id="shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/account" id="user" class="navbarSelected">Account</a>
      </nav>
    </header>




<div class="containerSmallCenter">
  <div>
    <form action="/login" method="post" class="inputField1" id="form" name="form">
      <table class="tableLogin">

            <tr><td><label for="user">Username</label></td></tr>
            <tr><td><input type="text" id="username" ></td></tr>
            <tr><td><label for="pass">Kennwort</label></td></tr>
            <tr><td><input type="password"  id="pass"></td></tr>
            <tr><td><a href="/passwortVergessen">Kennwort vergessen?</a></td></tr>

      </table>
    </form>
        <button class="button2 button2login" onclick="sendOn()">Einloggen</button>
        
        <button class="button2 button2login"><a href="/registrieren">Registrierung</a></button>

  </div>
</div>

    <footer>
      

      <div class="footerDiv">
        <a href="/ueberUns">Über uns / AGB</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>
        &copy;
        Copyright 2021
        Kuchen AG
      </div>

    </footer>


</body>
</html>
