<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bananenkuchen</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/produkt.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet" />
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet" />
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet" />
    <link href="./css/SSTables.css" rel="stylesheet" />
    <link href="./css/SSButtons.css" rel="stylesheet" />
    <link href="./css/SSImage.css" rel="stylesheet" />
    <link href="./css/SSFieldset.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()" />
        <a href="/">Startseite</a>
        <a href="/shop" class="navbarSelected">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/account" id="user">Account</a>
      </nav>
    </header>

    <div class="containerProduct" id="produktdiv"></div>

    <footer>
      <div class="footerDiv">
        <a href="/ueberUns">Über uns</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>&copy; Copyright 2021 Kuchen AG</div>
    </footer>
  </body>
</html>
