<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produktdaten</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/produktdaten.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet" />
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet" />
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet" />
    <link href="./css/SSButtons.css" rel="stylesheet" />
    <link href="./css/SSFieldset.css" rel="stylesheet" />
    <link href="./css/SSTables.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()" />
        <a href="/">Startseite</a>
        <a href="/shop" id="shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/account" class="navbarSelected" id="user">Account</a>
      </nav>
    </header>

    <div class="containerVertical">
      <div>
        <h2>Produktdaten</h2>
        <table
          class="tableList tableListHistory tableHistoryUserdata"
          id="tableProdukt"
        >
          <tr>
            <th>Produktnummer</th>
            <th>Beschreibung</th>
            <th>DatenblattID</th>
            <th>Ändern</th>
            <th>Löschen</th>
          </tr>
        </table>
        <button onclick="sendToNewProduct()">Neues Produkt erstellen</button>
      </div>
    </div>

    <footer>
      <div class="footerDiv">
        <a href="/ueberUns">Über uns</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>&copy; Copyright 2021 Kuchen AG</div>
    </footer>
  </body>
</html>
