<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Individuelles Sortiment</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/sortimentI.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet" />
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet" />
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet" />
    <link href="./css/SSTables.css" rel="stylesheet" />
    <link href="./css/SSFieldset.css" rel="stylesheet" />
    <link href="./css/SSButtons.css" rel="stylesheet" />
    <link href="./css/SSImage.css" rel="stylesheet" />
    <link href="./css/SSDropdown.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()" />
        <a href="/">Startseite</a>
        <a href="/shop" class="navbarSelected" id="shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/login" id="user">Account</a>
      </nav>
    </header>

    <div class="containerSmallLeft containerSmallLeftImageDiv">
      <!---DIV 1---------->

      <div class="overlappingImages">
        <div class="infoTextDiv">
          <p id="infoText"></p>
        </div>
        <div class="overlappingItemFrame">
          <img src="./img/CylinderFrame.png" alt="Italian Trulli" />
        </div>

        <div class="overlappingItemTOP-Topping">
          <img
            src="./img/CylinderTopping.png"
            alt="Italian Trulli"
            id="topping"
          />
        </div>

        <div class="overlappingItemTOP">
          <img src="./img/CylinderTop.png" alt="Italian Trulli" id="topping2" />
        </div>

        <div class="overlappingItemsMIDDLE">
          <img
            src="./img/CylinderMiddle.png"
            alt="Italian Trulli"
            id="middle"
          />
        </div>

        <div class="overlappingItemsBOTTOM">
          <img
            src="./img/CylinderBottom.png"
            alt="Italian Trulli"
            id="bottom"
          />
        </div>
      </div>

      
      <!---DIV 2---------->
      <div class="imgIndividualComponent">
        <table class="table3x3 tableIndi ">
          <tr>
            <td>
              <img
                src="./img/erdbeercremekuchen.jpg"
                alt=""
                class="tableImg3x3"
                id="toppingPicture"
              />              
            </td>
            <td>
              <img
                src="./img/käsekuchen.jpg"
                alt=""
                class="tableImg3x3"
                id="aussenPicture"
              />
            </td> 
            <td>
              <img
                src="./img/schwarzwälder.jpg"
                alt=""
                class="tableImg3x3"
                id="fuellPicture"
              />
            </td>
            <td>
              <img
                src="./img/bananenkuchen.jpg"
                alt=""
                class="tableImg3x3"
                id="bottomPicture"
              />
            </td>             
          </tr>
          <tr>
            <td>
              <p>Topping</p>             
            </td>
            <td>
              <p>Außenschicht</p>
            </td>
            <td>
              <p>Füllung</p>
            </td>
            <td>                           
              <p>Boden</p>
            </td>
          </tr>
        </table>
        <!--<img
          src="./img/erdbeeren2.png"
          alt="Italian Trulli"
          id="bildMaterial"
        />
      </div>




      <!--
      <div class="imgIndividualComponent">
        <table class="table3x3 tableIndi">
          <tr>
            <td>
              <img
                src="./img/erdbeercremekuchen.jpg"
                alt=""
                class="tableImg3x3"
                id="toppingPicture"
              />              
            </td>
            <td>
              <img
                src="./img/käsekuchen.jpg"
                alt=""
                class="tableImg3x3"
                id="aussenPicture"
              />
            </td>              
          </tr>
          <tr>
            <td>
              <p>Topping</p>             
            </td>
            <td>
              <p>Außenschicht</p>
            </td>
            
          </tr>
          <tr>
            <td>
              <img
                src="./img/schwarzwälder.jpg"
                alt=""
                class="tableImg3x3"
                id="fuellPicture"
              />
            </td>
            <td>
              <img
                src="./img/bananenkuchen.jpg"
                alt=""
                class="tableImg3x3"
                id="bottomPicture"
              />
            </td>
          </tr>
            <td>
              <p>Füllung</p>
            </td>
            <td>                           
              <p>Boden</p>
            </td>
          <tr>

          </tr>
        </table>
        <!--<img
          src="./img/erdbeeren2.png"
          alt="Italian Trulli"
          id="bildMaterial"
        />
      </div>
      -->
    </div>
  </div>

    <div class="container50">
    <!--DIV 3 Droppdown---------->
    <div class="container50LeftDiv">
      <form id="form" class="dropdown" name="form">
        <table class="tableLogin Checkout individual" id="tableIndi"></table>
      </form>
    </div>


    <div class="container50RightDiv">
      <div>
        <table class="tableBuy Checkout">
          <tr>
            <td>Gesamtsumme:</td>
            <td id="gesamtsumme"></td>
          </tr>
          <tr>
            <td>davon Mehrwertsteuer:</td>
            <td id="mehrwert"></td>
          </tr>
          <tr>
            <td>Nettosumme:</td>
            <td id="summe"></td>
          </tr>
        </table>
      </div>
      <div>
        <table class="tableBuy Checkout tableBuyButtons">
          <tr>
            <td>
              <button class="button1" onclick="sendOn()">
                <span> zum Warenkorb hinzufügen </span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

    <footer>
      <div class="footerDiv">
        <a href="/ueberUns">Über uns</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>&copy; Copyright 2021 Kuchen AG</div>
    </footer>
  </body>
</html>
