<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Individuelles Sortiment</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/sortimentI.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet" />
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet" />
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet" />
    <link href="./css/SSTables.css" rel="stylesheet" />
    <link href="./css/SSFieldset.css" rel="stylesheet" />
    <link href="./css/SSButtons.css" rel="stylesheet" />
    <link href="./css/SSImage.css" rel="stylesheet" />
    <link href="./css/SSDropdown.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()" />
        <a href="/">Startseite</a>
        <a href="/shop" class="navbarSelected" id="shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/login" id="user">Account</a>
      </nav>
    </header>

    <div class="containerSmallLeft">
      <!---DIV 1---------->

      <div class="overlappingImages">
        <div class="overlappingItemFrame">
          <img src="./img/CylinderFrame.png" alt="Italian Trulli" />
        </div>

        <div class="overlappingItemTOP-Topping">
          <img
            src="./img/CylinderTopping.png"
            alt="Italian Trulli"
            id="topping"
          />
        </div>

        <div class="overlappingItemTOP">
          <img src="./img/CylinderTop.png" alt="Italian Trulli" id="topping2" />
        </div>

        <div class="overlappingItemsMIDDLE">
          <img
            src="./img/CylinderMiddle.png"
            alt="Italian Trulli"
            id="middle"
          />
        </div>

        <div class="overlappingItemsBOTTOM">
          <img
            src="./img/CylinderBottom.png"
            alt="Italian Trulli"
            id="bottom"
          />
        </div>
      </div>

      <!--DIV 2---------->

      <div>
        <form id="form" class="dropdown" name="form">
          <table class="tableLogin Checkout individual" id="tableIndi"></table>
        </form>
      </div>
      <!---DIV 3---------->
      <div class="imgIndividualComponent">
        <img
          src="./img/erdbeeren2.png"
          alt="Italian Trulli"
          id="bildMaterial"
        />
      </div>
    </div>

    <div class="containerSmallright">
	    <div>
      <table class="tableBuy Checkout">
        <tr>
          <td>Summe:</td>
          <td id="summe"></td>
        </tr>
        <tr>
          <td>Mehrwertsteuer:</td>
          <td id="mehrwert"></td>
        </tr>
        <tr>
          <td>Gesamtsumme:</td>
          <td id="gesamtsumme"></td>
        </tr>
      </table>
	    </div>
	  <div> 
      <table class="tableBuy Checkout tableBuyButtons">
        <tr>
          <td>
            <button class="button1" onclick="sendOn()">
              <span> zum Warenkorb hinzufügen </span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
    <footer>
      <div class="footerDiv">
        <a href="/ueberUns">Über uns</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>&copy; Copyright 2021 Kuchen AG</div>
    </footer>
  </body>
</html>
