<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/SSMain.css" rel="stylesheet">
  <link href="./css/SSNavBarAndFooter.css" rel="stylesheet">
  <link href="./css//SSBackgroundsAndContainers.css" rel="stylesheet">
  <script src="./js/allgemein.js" defer></script>

  <title>Startseite</title>
</head>
<body>
  <header class="headerStart">
    <nav class="navbar">
      <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()">
      <a href="/" class="navbarSelected">Startseite</a>
      <a href="/shop" id="shop">Shop</a>
      <a href="/warenkorb" id="warenkorb">Warenkorb</a>
      <a href="/login" id="user">Account</a>
    </nav>
  </header>


    <div class="startImageDiv">
      <h1>Willkommen</h1>
    </div>


  <!-- div1  -->
  <div class="background1">
    <p>
      Du befindest Dich auf der Startseite – von hier aus hast Du jegliche Auswahlmöglichkeit.
      <br/><br/>Um Dir ein Gefühl zu geben, was Dich hier erwartet, siehst du weiter unten eine Schritt-für-Schritt-Anleitung
      <br/><br/>Viel Spaß!
      <br/><br/>Solltest Du Fragen haben, helfen wir Dir sehr gerne weiter.
      <br/>Zögere nicht unser „Kontaktformular“ zu benutzen – wir freuen uns auf jede Mail :)
      <br/><br/>Weil wir nett sind, folgt eine Schritt-für-Schritt-Anleitung:
    </p>
  </div>
  <!-- div2  -->
  <div class="containerHorizontal">
    <!-- div2.1  -->
    <div>
      <h2>Schritt 1</h2>
      <p>
        Wähle zwischen einer festen, von uns sorgfältig ausgewählten
        Kuchenpalette oder der Möglichkeit über unseren Kuchen-Konfigurator
        einen Kuchen zusammenzustellen.
      </p>
    </div>
    <!-- div2.2  -->
    <div>

      <h2>Schritt 2</h2>
      <p>
        Anmelden oder Registrieren:<br/>
        <br/>Erstelle Deinen Account, um Deine Kuchenbestellungen in Zukunft einfacher zu gestalten.
        <br/><br/>Bereits ein Konto? Dann kannst Du Dich einloggen.
      </p>
    </div>
    <!-- div2.3  -->
    <div>
      <h2>Schritt 3</h2>
      <p>
        Zahlungsart auswählen und bezahlen:
        <br/><br/>Wähle eine für Dich passende Zahlungsart.
        <br/><br/>Gerne kannst Du uns über eine Spende an unsere Bitcoin-Wallet unterstützen.
      </p>
    </div>
  </div>

  <footer>


    <div class="footerDiv">
      <a href="/ueberUns">Über uns / AGB</a>
      <a href="/impressum">Impressum</a>
      <a href="/kontakt">Kontaktformular</a>
    </div>

    <div>
      &copy;
      Copyright 2021
      Kuchen AG
    </div>

  </footer>


</body>
</html>
