<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Über Uns</title>
    <script src="./js/allgemein.js" defer></script>
    <script src="./js/ueberuns.js" defer></script>
    <link href="./css/SSMain.css" rel="stylesheet" />
    <link href="./css/SSNavBarAndFooter.css" rel="stylesheet" />
    <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet" />
    <link href="./css/SSTables.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()" />
        <a href="/">Startseite</a>
        <a href="/shop" id="shop">Shop</a>
        <a href="/warenkorb" id="warenkorb">Warenkorb</a>
        <a href="/login" id="user">Account</a>
      </nav>
    </header>

    <div class="containerHorizontal containerHorizontalUeberU">
      <div>
        <h2>Über uns</h2>
        <table class="UeberUnsTable">
          <tr>
            <td class="UUimageTD">
              <img src="./img/erdbeertopping.jpg" />
            </td>
            <td colspan="2">
              <p style="text-align: left">
                Wir stehen dazu, die Rezepte unserer Großmütter sorgfältig zu
                wahren. Natürlich sind unsere saisonalen Zutaten frisch aus
                lokaler Lese, welche akribisch ausgewählt wurden. Bereits seit
                Generationen wurden und werden die verschiedensten
                Backkunstwerke überliefert. So ist unsere Backfamilie nun
                bereits mit Rezepten der 3. Generation gesegnet.
              </p>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <p style="text-align: right">
                Diesen Segen wollen wir mithilfe unseres Online-Shops in die
                weite Welt schreien. Nicht jeder hatte das Glück eine
                großmütterliche Gebäckerfahrung zu machen – wir wollen, dass
                jedwede Bestellung mit einem Stück vertrauter Sorglosigkeit aus
                Kindheitstagen genossen wird.
                <br /><br />Gerade wenn wir für Dich die erste derartige
                Erfahrung sein werden, wirst Du uns nie wieder missen wollen –
                und wir Dich genauso wenig.
              </p>
            </td>
            <td class="UUimageTD">
              <img src="./img/schwarzwaelder.jpg" />
            </td>
          </tr>
        </table>
      </div>
    </div>

    <footer>
      <div class="footerDiv">
        <a href="/ueberUns" class="navbarSelected">Über uns</a>
        <a href="/impressum">Impressum</a>
        <a href="/kontakt">Kontaktformular</a>
      </div>

      <div>&copy; Copyright 2021 Kuchen AG</div>
    </footer>
  </body>
</html>
