<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warenkorb</title>
  <script src="./js/allgemein.js" defer></script>
  <script src="./js/warenkorb.js" defer></script>
  <link href="./css/SSMain.css" rel="stylesheet">
  <link href="./css/SSNavBarAndFooter.css" rel="stylesheet">
  <link href="./css/SSBackgroundsAndContainers.css" rel="stylesheet">
  <link href="./css/SSTables.css" rel="stylesheet">
  <link href="./css/SSButtons.css" rel="stylesheet">
  <link href="./css/SSImage.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <img src="./img/Cake.png" alt="" id="logo" onclick="sendToStart()">
      <a href="/">Startseite</a>
      <a href="/shop" id="shop">Shop</a>
      <a href="/warenkorb" class="navbarSelected" id="warenkorb">Warenkorb</a>
      <a href="/login" id="user">Account</a>
    </nav>
  </header>




  <div class="containerVertical" >
    <div>
      <h2>Warenkorb</h2>
      <table class="tableList" id="waren">
        <tr>
          <th></th>
          <th>Beschreibung</th>
          <th>Preis</th>
          <th></th>
        </tr>

      </table>
    </div>
    </div>

    <div class="containerSmallright">
      <div>
              <table class="tableBuy">
                <tr>
                  <td>Summe:</td>
                  <td id="sum">500€</td>
                </tr>
                <tr>
                  <td>Mehrwertsteuer:</td>
                  <td id="mehr">95€</td>
                </tr>
                <tr>
                  <td>Gesamtsumme:</td>
                  <td id="gesamt">595€</td>
                </tr>
              </table>
      </div>

      <div>
              <table class="tableBuy tableBuyButtons">

                <tr>
                  <td>
                    <button class="button1" onclick="sendOn()" >
                        <span>
                          Zur Kasse
                        </span>
                      </button>
                  </td>
                </tr>

              </table>
      </div>




</div>






<!---

-->

  <footer>
   

    <div class="footerDiv">
      <a href="/ueberUns">Über uns / AGB</a>
      <a href="/impressum">Impressum</a>
      <a href="/kontakt">Kontaktformular</a>
    </div>

    <div>
      &copy;
      Copyright 2021
      Kuchen AG
    </div>

  </footer>


</body>
</html>
