
.overlappingImages {
  min-width: 400px;
  height: 375px;
  position: relative;
  padding: 1%;
}



.overlappingItemFrame {
  position:absolute;
      top: 5px;
      z-index: 4;
}

.overlappingItemTOP-Topping {
  position:absolute;
      top: 5px;
      z-index: 4;
}


.overlappingItemTOP {
  position:absolute;
      top: 5px;
      z-index: 3;
}

.overlappingItemsMIDDLE {
  position:absolute;
   top: 5px;
   z-index: 2;
}

.overlappingItemsBOTTOM {
  position:absolute;
   top: 5px;
   z-index: 1;
}



.overlappingImages img {

  height: 360px;
  border: 0px solid rgba(0,0,0,0.2);
}

.overlappingItemFrame img {
  height: 360px;
}

.overlappingImages {
  border: 5px solid rgba(0,0,0,0.2);
}

.overlappingItemTOP-Topping img {
  filter: invert(27%) sepia(83%) saturate(4715%) hue-rotate(350deg) brightness(86%) contrast(90%);
}

.overlappingItemTOP img {

filter: invert(86%) sepia(47%) saturate(5789%) hue-rotate(353deg) brightness(106%) contrast(82%);
}

.overlappingItemsMIDDLE img {
  filter: invert(66%) sepia(66%) saturate(551%) hue-rotate(335deg) brightness(97%) contrast(89%);
}

.overlappingItemsBOTTOM img {

  filter: invert(14%) sepia(38%) saturate(386%) hue-rotate(327deg) brightness(103%) contrast(102%);
}

.imgIndividualComponent {
  width: auto;
  height: 100%;
  max-height: 375px;
}


.imgIndividualComponent img{
  display: flex;
  flex-wrap:nowrap;
  width: auto;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 00px;
  border: 2px solid rgba(0,0,0,1);
  max-height: 375px;
  width: auto;
}
