
#kuchenSW {
    float:right;
    width:200px;
    margin-right:10px
    
    }
    
#erdbeerTopping {
    float:left;
    width:200px;
    margin-left: 10px;
    }

#txt1 {    
    text-align: justify;
    hyphens: auto;
}

#txt2 {
    text-align: justify;
    hyphens: auto
}
